root
{
    display: block;
}

#consoleHBox
{
    -fx-background-color: slategray;
}

#srText
{
    -fx-padding: 1 2 1 2;
    -fx-font-family: "Helvetica";
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-overrun: clip;
}

#serialTitle
{
    -fx-font-family: "Helvetica";
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: linear-gradient(white, #d0d0d0);
}

#topMainTitle {
    -fx-background-image: url("carbon.png");
    -fx-background-color:
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22);
}

#machineSettingLabel
{
    -fx-text-fill: white;
}

#motor_config_hbox
{
    -fx-background-color: black;
}

#motorTxt,
#machineConfigLoaderLabel,
#lblMachine,
#lblAxis
{
    -fx-text-fill: white;
}

.button
{
    -fx-background-color:
            #c3c4c4,
            linear-gradient(#d6d6d6 50%, white 100%),
            radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
    -fx-padding: 5 22 5 22;  
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
}

.button:hover
{
    -fx-background-color: #FF6600;
}

.button:pressed, .button:default:hover:pressed
{
  -fx-background-color: white;
  -fx-text-fill: #1d1d1d;
}

.button:focused
{
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid; /*, segments(1, 1);*/
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled,
.button:default:disabled
{
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default
{
    -fx-background-color: #008287;
    -fx-text-fill: #ffffff;
}

.button:default:hover
{
    -fx-background-color: #219297;
}
